
<div class="card">
    <h5>Perfil</h5>
    <p-splitter  [style]="{width:'1000'}"  styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <ul>
                <li class="conteudo-principal-escrito-titulo">
                    Marcos Henrique
                </li>
                <li class="conteudo-principal-escrito-subtitulo">Email: marcos.herique@gmail.com</li>
        
            </ul>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <p-button label="serviço" badge="1"></p-button>
            
            </div>
        </ng-template>
    </p-splitter>
 
      
    
   
</div>
  